<label for="search">Search</label>
<input id="search" type="text" name="" value="">
<button type="button" name="button">button</button>
<br>
<br>
<label for="newTitle">Movie Title</label>
<input #newTitle>
<br>
<label for="newThoughts">Review:</label>
<input #newThoughts>
<br>
<label for="newName">Name:</label>
<textarea #newName></textarea>
   <button (click)="submitForm(new.Title.value, newThoughts.value; newName.value
   ); newTitle.value=''; newThoughts.value=''; newName.value=''">AddReview</button>
<br>
<h2>Reviews</h2>
<div *ngFor="let review of reviews">
    <h3><em>{{review.title}}</em> {{review.thoughts}} <br> - {{review.name}}</h3>
</div>
